= form_for(@project) do |f|
  .row
    .input-field.col.s12.m6
      = f.text_field :name
      = f.label :name
    .input-field.col.s12.m6
      = f.date_field :date, class: 'datepicker'
      = f.label :date
    .input-field.col.s12
      = f.text_area :details, class: 'materialize-textarea'
      = f.label :details
  #images
  = f.fields_for :images do |image|
    = render 'projects/image_fields', f: image
  .links.col.s12
    = link_to_add_association 'add image', f, :images

  .row
    .input-field.col.s12
      = f.submit nil, class: 'btn primary waves-effect waves-light'



